body {
    background-color: #FFFFE0;
}

h1 {
    color: #CC6600;
}

.form-container {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #CC6600;
    max-width: 500px;
}

.form-note {
    color: #666666;
    font-size: 11px;
    font-style: italic;
    margin-top: 20px;
}

.form-field {
    border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    padding: 5px;
}

.form-field.textarea {
    padding: 30px 5px;
}
